@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", Georgia, serif;
  --font-sans: "Lora", system-ui, -apple-system, sans-serif;
  
  --color-warm-beige: #F9F6F0;
  --color-warm-amber: #D9A05B;
  --color-warm-sage: #8A9A86;
  --color-charcoal-brown: #3E3B39;
  --color-soft-clay: #C28C7E;
}

body {
  background-color: var(--color-warm-beige);
  color: var(--color-charcoal-brown);
  font-family: var(--font-sans);
}

/* Custom gorgeous thin scrollbar to match aesthetic journal */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #F2EDE4;
}
::-webkit-scrollbar-thumb {
  background: #D5CBB9;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #BBAC94;
}
